<div class="container-fluid">
  <div class="card col-md offset-1 mt-3">
    <div class="card-header bg-secondary text-center text-white">Register</div>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">UserName</label>
          <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
          <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
            <div *ngIf="f['username'].errors['required']">User Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="firstName">FirstName</label>
          <input type="text" formControlName="firstname" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }" />
          <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
            <div *ngIf="f['firstname'].errors['required']">First Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">LastName</label>
          <input type="text" formControlName="lastname" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }" />
          <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
            <div *ngIf="f['lastname'].errors['required']">Last Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="passcode" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['passcode'].errors }" />
          <div *ngIf="submitted && f['passcode'].errors" class="invalid-feedback">
            <div *ngIf="f['passcode'].errors['required']">Password is required</div>
            <div *ngIf="f['passcode'].errors['minlength']">Password must be at least 4 characters</div>
          </div>
        </div>
        <div class="form-group btn-group col-md">
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            <strong><i>Register </i></strong>
          </button>
          &nbsp;&nbsp;
          <a routerLink="/login" class="btn btn-warning"><strong><i>Cancel</i></strong> </a>
        </div>
      </form>
    </div>
  </div>

</div>