<div>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)"><i>SIR-PROJECT2023</i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <a class="nav-item nav-link" routerLink="/">Home</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i>User</i></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/users-list"><i>View Users</i></a></li>
              <li><a class="dropdown-item" routerLink="/user-details"><i>User Details</i></a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i>Issue</i></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/add-ticket"><i>Bug File Issue</i></a></li>
              <li><a class="dropdown-item" routerLink="/add-file"><i>Feature Request File Issue</i></a></li>
              <li><a class="dropdown-item" routerLink="/tickets-list"><i>View Issues</i></a></li>
              <li><a class="dropdown-item" routerLink="/ticket-details"><i>Issue Details</i></a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i>Tag</i></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/add-tag"><i>New Tag</i></a></li>
              <li><a class="dropdown-item" routerLink="/tags-lsit"><i>View Tags</i></a></li>
              <li><a class="dropdown-item" routerLink="/tag-details"><i>Tag Details</i></a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login"><i>LogIn</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md offset">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>