<div class="container-fluid">
    <div class="card col-md">
        <div class="card-header text-center text-white bg-dark">Log In</div>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                    <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                        <div *ngIf="f['username'].errors['required']">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Passcode</label>
                    <input type="password" formControlName="passcode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['passcode'].errors }" />
                    <div *ngIf="submitted && f['passcode'].errors" class="invalid-feedback">
                        <div *ngIf="f['passcode'].errors['required']">Password is required</div>
                    </div>
                </div>
                <div class="form-group btn-group col-md">
                    <button [disabled]="loading" class="btn btn-success">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                    &nbsp;&nbsp;
                    <a routerLink="/add-user" class="btn btn-primary">Register</a>
                </div>
            </form>
            
        </div>
    </div>
</div>