<div class="container-fluid">
    <div class="card col-md-10 offset-1 mt-4">
        <div class="card-body">
            <table class="table-active">
                
            </table>
            <form [formGroup]="commentForm"  (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <textarea formControlName="comment" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['comment'].errors }">
                    <div *ngIf="submitted && f['comment'].errors" class="invalid-feedback">
                        <div *ngIf="f['comment'].errors['required']">Comment is required</div>
                      </div>
                </textarea>
                  </div>
                  <div class="form-group btn-group col-md ms-3 mt-3">
                    <button [disabled]="loading" class="btn btn-success">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Save
                    </button>
                    <a routerLink="/tickets-list" class="btn btn-info">Cancel</a>
                  </div>
            </form>
        </div>
    </div>
</div>