<div class="container mt-2">
    <ng-container *ngIf="users | async as listUsers">
        <div class="card">
            <div class="card-header bg-secondary text-white text-center text">
                <strong><i>View All Users</i></strong>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr><th>Identifiant</th>
                        <th>Username</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th></tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users | async">
                            <td>{{user.userId}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.firstname}}</td>
                            <td>{{user.lastname}}</td>
                            <td>{{user.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>
    
</div>