<div class="container">
    <ng-container *ngIf="ticket$ | async as ticketData"></ng-container>
        <div class="bg-secondary text-white text-center"><strong><i>View All Tickets</i></strong></div>
            <table class="table">
                <tbody>
                    <tr *ngFor="let ticket of ticket$ | async">
                       <!-- <td value="hidden">{{ticket.ticketId}}</td>-->
                        <td>{{ticket.title}}
                            <br>
                            <br>
                            {{ticket.post}}
                            <br>
                            <br>
                            <button type="button"
                             class="btn btn-primary">
                                modify</button>
                                &nbsp;&nbsp;
                            <button type="button" 
                            class="btn btn-success"
                             (click)="findTicket(ticket)">
                                comment</button>&nbsp;&nbsp;
                            <button type="button" 
                            class="btn btn-danger"
                             (click)="deleteTicket(ticket)">delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
</div>