<div class="container">
  <div class="card col-md  mt-3">
      <div class="card-header text-center bg-info text-white">
        <strong><i>Add a bug file issue</i></strong>
      </div>
      <div class="card-body">
        <form [formGroup]="ticketFormGroup" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" formControlName="title" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['title'].errors }" />
            <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
              <div *ngIf="f['title'].errors['required']">Title is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="post">Post</label>
            <textarea type="text" formControlName="post" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['post'].errors }" ></textarea>
            <div *ngIf="submitted && f['post'].errors" class="invalid-feedback">
              <div *ngIf="f['post'].errors['required']">Post is required</div>
            </div>
          </div>
          <div class="form-group btn-group col-md ms- mt-3">
            <button [disabled]="loading" class="btn btn-success">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              <strong><i>Save </i></strong>
            </button>&nbsp;&nbsp;
            <a routerLink="/tickets-list" class="btn btn-warning"><strong><i>Cancel </i></strong></a>
          </div>
        </form>
      </div>
  </div>
</div>